<div class="container">

    <%# speed #bfecb3
    glide #ffcc66
    turn #b9dcff
    fade #ffff99 %>

    <h1 class="title is-4">Disc Store</h1>
    <h5 class="subtitle is-6">Let em fly</h5>
    <div class="columns is-mobile is-multiline">

        <% @discs.each do |disc| %>

                <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                    <%= link_to disc do %>
                        <div class="card grow pointer">
                            <div class="card-image pa3">
                                <%= image_tag disc.image %>
                            </div>
                            <div class="card-content">
                                <div class="flex justify-around">

                                    <% if disc.make === "Innova" %>
                                        <%= render partial: "shared/nova_flight", locals: {disc: disc} %>

                                    <% else %>
                                        <%= render partial: "shared/discraft_flight", locals: {disc: disc} %>
                                    <% end %>

                                    <h3 class="is-size-5 mt3"><%= disc.model %><h3>
                                </div>

                                <div class="tc">
                                <span class="mt3 tag is-info"><%= disc.disc_type %></span>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>

        <% end %>
    </div>
</div>
